body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

.header {
    background-color: #202846;
    height: 90px;
    padding: 6px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    height: 90%;
    width: 12%;
    margin-left: 5%;
}
.logo img {
    width: 100%;
}
.header-navigation {
    display: inline-block;
    margin: 0 0 0 17%;
    padding: 6px;
    width: 55%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}

.header-navigation-item {
    display: inline-block;
    width: 19%;
    height: 100%;
    border-right: 2px solid white;
    vertical-align: top;
    padding-top: 2%;
    box-sizing: border-box;
}

.header-navigation-item a {
    display: block;
    width: 100%;
    height: 70%;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;

}
.header-navigation-item:last-child {
    padding-top: 1%;
    box-sizing: border-box;
    
}
.logo2 {
    display: inline-block;
}

/*Title*/

.title {
    height: 140px;
    background-color: #C6C6DC;
    padding-left: 12%;
    box-sizing: border-box;
}
.title-text {
    font-weight: 400;
    font-style: italic;
    color: #202846;
    font-size: 2.5em;
    padding-top: 3%;
    box-sizing: border-box;
}

/*main-block*/
.main-block {
    background-color: #E5E5E5;
    width: 100%;
    padding-bottom: 6%;
}
.main-block-cards {
    margin: 0 auto;
    width: 75%;
    padding-top: 140px;
    
}
.main-block-cards-item {
    width: 100%;
    height: 240px;
    background-color: #BDBDC6;
    margin-bottom: 27px;
    position: relative;
}
.main-block-cards-item-img {
    display: inline-block;
    width: 45%;
}
.main-block-cards-item-img img {
    width: 75%;
    margin: 0 auto;
    display: inline-block;
    padding: 5% 13%;
}

.main-block-cards-item-info {
    display: inline-block;
    width: 54%;
    height: 100%;
    vertical-align: top;
}

.main-block-cards-item-info-title {
    width: 90%;
    font-weight: 700;
    font-style: italic;
    font-size: 170%;
    border-bottom: 3px solid white;
    color: #353C57;
    padding-top: 3%;
}

.main-block-cards-item-info-text {
    width: 90%;
    height: 65%;
    margin-top: 1%;
    font-size: 100%;
    color: #202846;
    text-align: center;
    
    box-sizing: border-box;
    background-color: #D7D7DD;
    line-height: 24px;
}
.bacota-text {
    padding: 25px 52px;
}
.polonyny-text {
    padding: 15px 100px;
}
.kyiv-text {
    padding: 28px 41px;
}
.odessa-text  {
    padding: 15px 42px;
}
.main-block-cards-item-star {
    position: absolute;
    top: 3%;
    right: 1%;
    width: 40px;
    height: 40px;
}
.main-block-cards-item-star svg{
    width: 100%;
}
.main-block-cards-item-star:hover path{
    fill: yellow;
}
.main-block-cards-item-button {
    background-color: #202846;
    border-radius: 30px;
    position: absolute;
    top: 80%;
    right: -4%;
    width: 15%;
    height: 20%;
    text-align: center;
}
.main-block-cards-item-button a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 5%;
    display: block;
}
.main-block-cards-item:last-of-type {
    margin-bottom: 0;
}
/*button-top*/
.main-block-button-top {
    width: 80px;
    height: 80px;
    background-color: #5557689E;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    top: 75%;
}
.main-block-button-top a{
    display: block;
    height: 80%;
    text-align: center;
    padding-top: 10%;
}
.main-block-button-top-arrow {
    height: 100%;
}

/*footer*/
.footer {
background-color: #202846;
height: 90px;
color: white;
 font-style: italic;
 font-size: 2em;
 font-weight: 400;
padding: 1% 7%;
box-sizing: border-box;
}


