* {
    box-sizing: border-box;
}
:root {
    font-size: 16px;
}
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main {
    width: 100%;
}
.page:not(:last-child) {
    margin-bottom: 2%;
}

/*header*/
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 15vh;
}
.logo img {
    height: 100%;
}
.nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item a {
    text-decoration: none;
    color: #FFFCFC;
    display: block;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}

/*Gallery*/
.gallery {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.gallery-item {
    width: 20%;
    position: relative;
}
.gallery-item-left {
    animation: item-left 2s ease-in-out 0s 1;
}
@keyframes item-left {
    from {
        left: -30%;
    }
    to {
        left: 0%;
    }
}
.gallery-item-column {
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.gallery-item-column-one {
    width: 49%;
    position: relative;
}
.gallery-item img, .gallery-item-column img {
    width: 100%;
    
}
.gallery-item-column-one img:first-of-type {
    margin-bottom: 10%;
}

.gallery-item-column-one-left {
    animation: column-one-left 1s ease-in-out 0s 1;
}
@keyframes column-one-left {
    from {
        left: -50%;
    }
    to {
        left: 0%;
    }
}
.gallery-item-column-one-right {
    animation: column-one-right 1s ease-in-out 0s 1;
}
@keyframes column-one-right {
    from {
        right: -50%;
    }

    to {
        right: 0%;
    }
}
.gallery-item-right {
    animation: item-right 2s ease-in-out 0s 1;
    }
    
    @keyframes item-right {
        from {
            right: -30%;
        }
    
        to {
            right: 0%;
        }
    }

/*Services*/
.services {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.services-left {
    width: 55%;
    padding: 3% 1% 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2% 0%;
    justify-items: center;
}
.circle {
    width: 65%;
    
}
.hair_styling {
    animation: hair_styling_anime 10s ease-in-out 0s infinite;
}
.beard_trimming {
    animation: beard_trimming_anime 10s ease-in-out 0s infinite;
}
.hair_straightening {
    animation: hair_straightening_anime 10s ease-in-out 0s infinite;
}
.smooth_shave {
    animation: smooth_shave_anime 10s ease-in-out 0s infinite;
}

@keyframes hair_styling_anime {
    from, to {
    }
    25% {
        transform: translateX(150%);
    }
    50% {
        transform: translate(150%, 110%);
    }
    75% {
        transform: translate(0, 110%);
    }
}
@keyframes beard_trimming_anime {
    from,to { 
    }
    25% {
        transform: translateY(110%);
    }
    50% {
        transform: translate(-150%, 110%);
    }
    75% {
        transform: translate(-150%, 0);
    }
}
@keyframes hair_straightening_anime  {
    from,to {  
    }
    25% {
      transform: translateX(-150%);  
    }
    50% {
        transform: translate(-150%, -100%);
    }
    75% {
        transform: translate(0, -100%);
    }
}
@keyframes  smooth_shave_anime {

    from,to {
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translate(150%, -100%);
    }
    75% {
       transform: translate(150%, 10%);
    }
}
.circle img {
    width: 100%;
}
.services-right {
    background: url('../img/page2-big.png') 0 0/100% 100% no-repeat;
    width: 45%;
    height: 100%;
}
.circle-title {
    text-align: center;
    font-family: 'Rosario';
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
}

/*Team*/
.team {
    padding: 4% 3% 1%;
}
.team_title {
    text-align: center;
    font-family: 'Rosario';
    font-weight: 700;
    color: black;
    font-size: 5rem;
    margin-bottom: 3%;
    padding: 2% 5%;
}
.team_pearson {
    display: flex;
    justify-content: space-between;
    min-height: 550px; 
}
.team_pearson_box {
    width: 25%;
    height: 100%;
    border-radius: 35px;
    filter: brightness(.7);
    transition: all 1s;
}
.team_pearson_meredith {
    background: url("../img/Meredith-1.png") 0 0/100% 100% no-repeat;
    margin-right: 2%;
}
.team_pearson_jason {
    background: url('../img/Jason-2.png') 0 0/100% 100% no-repeat;
    margin-right: 4%;
}

.team_pearson_rayan {
    background: url('../img/Rayan-3.png') 0 0/100% 100% no-repeat;
    margin-right: 2%;
}
.team_pearson_james {
    background: url('../img/James-4.png') 0 0/100% 100% no-repeat;
}
.team_pearson_title {
    height: 120px;
    background-color: #A3530A;
    opacity: 0;
    border-radius: 0 0 35px 35px;
    text-align: center;
    color: #FFFAFA;
    font-family: 'Volkhov';
    font-size: 3rem;
    padding-top: 8%;
    margin-top: 430px;
}
.team_pearson_box:hover .team_pearson_title {
    opacity: 0.6;
}
.team_pearson_meredith:hover, .team_pearson_jason:hover, .team_pearson_rayan:hover, .team_pearson_james:hover {
    filter: brightness(1);
}

/*Contact*/
.contact {
    padding-top: 3%;
    width: 80%;
    height: 85vh;
    margin: 0 auto;
}
.contact_top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2%;
    height: 60%;
    margin-bottom: 5%;
}

.contact_top_title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Rosario';
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    width: 85%;
    margin-bottom: 3%;
}
.contact_top_title span {
    text-transform: capitalize;
}
.contact_top_form_box{
    grid-column: 1/2;
    grid-row: 2/-1;
}
.contact_top_form_box form {
    height: 100%;
}
.contact_top_form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3%;
    justify-content: space-between;
    background-color: #E5E5E5;
   
}

.contact_top_form_first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    height: 25%;
    
}
.form_first_name,
.form_first_email {
    width: 48%;
    border: none;
    font-family: 'Rosario';
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1%;
    
}
.contact_top_form textarea {
    height: 60%;
    border: none;
    font-family: 'Rosario';
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1%;
}


.contact_top_map {
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: 100%;
}
.contact_top_map iframe {
    width: 100%;
    height: 100%;
}
.contact_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Rosario';
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    padding: 0 1%;
}
.contact_bottom a {
    text-decoration: none;
    color: black;
}
.contact_bottom .italic {
    font-style: italic;
    font-weight: 600;
}
.contact_bottom_info, .contact_bottom_time {
    width: 35%;
} 

.contact_bottom_time_title {
    font-size: 1.7rem;
    margin-bottom: 5%;
}

.contact_bottom_social {
    width: 20%;
}
.contact_bottom_social ul {
    text-align: left;
    display: inline-block;
}

.contact_bottom_social_instagram::before,
 .contact_bottom_social_facebook::before,
 .contact_bottom_social_twitter::before {
    content: '';
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.contact_bottom_social_instagram::before {
        background-image: url('../img/insta.png');

}
.contact_bottom_social_facebook::before {
    background-image: url('../img/fb.png');
}
.contact_bottom_social_twitter::before {
    background-image: url('../img/twitter.png');
}
/*Screen>1620px*/
@media screen and (min-width: 1620px) { 
    body {
        max-width: 1620px;
        margin: 0 auto;
    }
}
/*Screen<992px*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    :root {
        font-size: 10px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }

    .gallery-item {
        width: 50%;
        align-self: end;
        margin-bottom: 4%;
        animation-duration: 1s;
    }

    .gallery-item-left {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        margin-right: 4%;
    }

    .gallery-item-right {
        grid-column: 2/-1;
        grid-row: 1/2;
        margin-left: 4%;
    }

    .gallery-item-column {
        grid-column: 1/-1;
        grid-row: 2/-1;
        justify-self: center;
    }

    .services {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 1fr;
    }

    .services-right {
        grid-column: 1/-1;
        grid-row: 1/2;
        background-size: cover;
        width: 100%;
        justify-self: center;
    }

    .services-left {
        grid-column: 1/-1;
        grid-row: 2/-1;
        justify-self: center;
        padding: 1%;
        width: ;
    }

    .team_title {
        display: none;
    }

    .team_pearson {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1%;
        padding-top: 5%;
    }

    .team_pearson_box {
        width: 60%;
    }

    .team_pearson_meredith {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
    }

    .team_pearson_jason {
        grid-column: 2/-1;
        grid-row: 1/2;
    }

    .team_pearson_rayan {
        grid-column: 1/2;
        grid-row: 2/-1;
        justify-self: end;
    }

    .team_pearson_james {
        grid-column: 2/-1;
        grid-row: 2/-1;
    }

    .contact_top {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 3fr;
        grid-row-gap: 2%;
        height: 70%;
    }

    .contact_top_title {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .contact_top_form_box {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .contact_top_map {
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
}
/*Screen<768px*/

@media screen and (max-width: 768px){
    :root {
        font-size: 10px;
    }
    .gallery, .gallery-item-column{
        flex-direction: column;
    }
    .gallery-item-column-one {
        width: 100%;
    }
    
    .gallery-item-left  {
        animation-duration: 1s;
    }
    @keyframes item-left {
        from {
            left: -100%;
        }   
        to {
            left: 0%;
        }
    }
    .gallery-item-column-one-left, 
    .gallery-item-column-one-right {
        animation-iteration-count: 0;
    }
    .gallery-item-column-one-left img:nth-child(1) {
        margin-bottom: 0;
        position: relative;
        animation: move_right 2s ease-in-out 0s 1;
    }
    @keyframes move_right {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    .gallery-item-column-one-left img:nth-child(2) {
        position: relative;
        animation: move_left 3s ease-in-out 0s 1;
    }
    @keyframes move_left {
        from {
            left: -100%;
        }
    
        to {
            left: 0%;
        }
    }
    .gallery-item-column-one-right img:nth-child(1) {
        margin-bottom: 0;
        position: relative;
        animation: move_right 4s ease-in-out 0s 1;
    }
    .gallery-item-column-one-right img:nth-child(2) {
        position: relative;
        animation: move_left 5s ease-in-out 0s 1;
    }

    .gallery-item-right {
        animation-duration: 6s;
    }
    @keyframes item-right {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    .services-right {
        display: none;
    }
    .services-left {
        width: 100%;
    }
    .team_title {
        display: none;
    }
    .team_pearson {
        flex-direction: column;
        align-items: center;
    }
    .team_pearson_box {
        width: 50%;
        margin: 0 0 1% 0;
    }
    .contact_top {
        grid-template-columns: 100%;
        grid-template-rows: 3fr 1fr 2fr;
        grid-row-gap: 2%;
        height: 70%;
        }
    .contact_top_title {
        grid-column: 1/-1;
        grid-row: 2/3;
        width: 100%;
        margin-bottom: 1%;
        }
    .contact_top_form_box {
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
    .contact_top_map {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}


