:root {
    font-size: 10px;
    
    font-weight: 500;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat',sans-serif; 
}

.header {
    border-bottom: 1px solid #C4C4C4;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 3;
    background: #ffffff;
    opacity: 1;
}
.header_container {
    width: 70%;
    margin: 0 auto;
}
.navbar-brand {
    margin-right: 15%;
    height: 65px;
}
.navbar-brand img {
    height: 100%;
}
.header_nav_form {
    width: 50%;
}

.header_nav_search {
    width: 100%;
    height: 100%;
    border: 2px solid #323232;
    border-radius: 5px;
    color: #A1A1A1;
    font-size: 1.6rem;
    background-image: url('./../img/icon_place.png');
    background-repeat: no-repeat;
    background-position: 1% 35%;
    padding-left: 10%;
}
#navbarSupportedContent {
    justify-content: space-between;
}
.header_nav_btn {
    width: 35%;
    justify-content: flex-end;

}
.header_nav_btn li {
    width: 35%;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.header_nav_btn_link {
    display: block;
    text-decoration: none;
    color: #ffffff !important;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 4%;
}

.header_nav_btn_1 {
    margin-right: 5%;
    background-color: #EF781A;
}

.header_nav_btn_2 {
    background-color: #00D008;
}

/*Header title*/
.header_title {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
}
.header_container_title {
    font-size: 3.6rem;
    font-weight: 800;
    padding: 140px 0 25px;
    display: flex;
    justify-content: space-between;
}
/*Main section*/
.main_section {
   background-color: #ECECEC; 
}
.main_section_conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;
}
/*Content*/
.main_section_content {
    width: 69%;
    padding-bottom: 70%;
}
/*Content header*/
.main_section_content_header {
    margin-bottom: 3%;
    position: sticky;
    top: 75px;
    z-index: 2;
    background-color: #ECECEC;
    margin: 0 -4px;
}
.content_header_item {
    color: #7B7B7B;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
}
.content_header_item:hover {
    background-color: #C4C4C4;
    color: #343434;
    border-radius: 10px;
}
/*Content title*/
.main_section_content_title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 3%;
}
/*Content block*/
.main_section_content_block {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3%;
   margin-bottom: 3%;
}
.card {
    position: static;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}
.card-body {
    min-height: 120px;
}
.card-title, .btn {
    font-size: 1.8rem;
    color: #000;
}
.card-text {
    color: #A1A1A1;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    border: none;
}
.checkbox {
    display: none;
}
.check_heart {
    width: 25px;
    height: 25px;
    background: url('./../img/heart.png') 0 25%/95% no-repeat;
    margin: 0;
}
.checkbox:checked + .check_heart{
    background: url('./../img/heart_green.png') 0 25%/95% no-repeat;
}
.btn-box {
    position: relative;
    width: 65%;
}
.btn {
    padding: 0;
    transition: all 0.2s ease-out;
}
.card-footer-bigmac{
    padding-top: 5%;
}
.btn-add {
    position: absolute;
    left: 0.75rem;
    background-color: #FF6C01;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: white !important;
    text-align: center;
    padding-top: 5%;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none !important;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.btn-box:hover .btn-add {
    opacity: 1;
}
.btn-box:hover .btn {
    opacity: 0;
}

.main_section_content_block_about {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3%;
    font-weight: 500;
}
.main_section_content_block_about_box:not(:last-child) {
    margin-bottom: 2%;
}
.main_section_content_block_about_title {
    font-size: 1.4rem;
    color: #999999;
    margin-bottom: 0.5%;
}
.main_section_content_block_about_info {
    color: #000000;
    font-size: 1.6rem;
}
.upper {
    text-transform: uppercase;
}

/*Order card*/
.main_section_order-card_box {
    width: 29%;
}
.order-card {
    height: 10%;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 7% 5%;
    font-weight: 500;
}
.order-card_title {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 8%;
    padding: 0 5%;
}
.order-card_info_container {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-rows: 75% 15%;
    grid-template-columns: 40% 31% 22%;
    gap: 10% 5%;
    font-size: 1.4rem;
    padding: 0 5%;
    }

.order-card_info-name {
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.order-card_info-name p {
    margin-bottom: 0;
}
.order-card_info-name ul {
    color: #979797;
    font-size: 1.2rem;
    padding-left: 15%;
    font-size: 1.2rem;
}
.order-card_info-number {
    grid-column: 2/3;
    grid-row: 1/2;
}

.order-card_info-number::before {
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-image: url('./../img/-.png');
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.order-card_info-number::after {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url('./../img/+.png');
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10%;
}
.order-card_info-amount {
    grid-column: 3/-1;
    grid-row: 1/2;
    text-align: center;
}
.order-card_info-delivery {
    grid-column: 1/3;
    grid-row: 2/-1;
}
.order-card_info-delivery-amount {
    grid-column: 3/-1;
    grid-row: 2/-1;
}
.order-card_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FF6C01;
    color: #ffffff !important;
    font-size: 1.8rem;
    text-decoration: none !important;
    padding: 3% 5%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*Arrow-top*/

.arrow_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 5%;
    bottom: 120px;
}

.arrow_top a {
    width: 100%;
    text-align: center;
}
/*Footer*/
footer {
    background-color: #323232;
}
.footer_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0;
}
.footer_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
}
.footer_left a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}
.footer_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}
.footer_left a:nth-child(2), .footer_right a:nth-child(2) {
    margin: 0 5%;
}

@media screen  and (max-width: 992px) {
    .main_section_order-card_box {
        display: none;
    }
    .main_section_content {
        width: 100%;
    }
    .main_section_content_block {
       grid-template-columns: repeat(2, 1fr); 
    }
    .card-footer-bigmac {
        padding-top: 0;
    }
    #navbarSupportedContent {
        background-color: white;
    }
    .header_nav_form {
        width: 80%;
    }
    
    .header_nav_btn {
        width: 65%
    }
    .header_nav_btn li {
        margin-bottom: 0.5rem;
    }
    .footer_left {
        width: 85%;
    }
}
@media screen and (max-width: 586px) {
    .main_section_content_block {
        grid-template-columns: 1fr;
        }
    
    .footer_left a {
        font-size: 1.2rem;
    }
    .footer_right img {
        width: 30px;
        height: 30px;
    }
    .arrow_top {
        left: 3%;
    }
}