html {
    font-size: 16px;
}
body, ul {
    margin: 0;
    padding: 0;
    background-color: #212529;
    list-style: none;
}
a {
    cursor: pointer;
}
.hire-btn a {
    color: #212529;
    background-color: #FFB742;
    padding: 12px 26px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    line-height: 111%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    font-family: 'Poppins';
    font-size: 1.125rem;
    line-height: 100%;
}
.header-nav {
    display: flex;
    font-weight: 600;
}

li.header-nav-item > a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.header-nav-item>a:hover {
    color: #FFB742;
}

/*about-me-section*/
.about-me-section-info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    color: white;
    padding-top: 108px;
} 

.about-me-section-info-name {
    font-weight: 700;
    font-size: 2rem;
    line-height: 131%;

}
.about-me-section-info-name a {
    color: #FFB742;
}

.about-me-section-info-proffession {
    font-weight: 700;
    font-size: 3rem;
    line-height: 156%;
}

.about-me-section-info-description {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 175%;
    margin: 25px 0 22px 0;
   
}
.about-me-section-cards {
    width: 90%;
    margin: 137px 72px;
    display: flex;
    justify-content: space-between;
}
.about-me-section-cards-item {
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #292B2E;
}
.about-me-section-cards-item-info {
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.about-me-section-cards-item-info-number {
    font-size: 2rem;
    line-height: 104.13%;
    color: #FFB742;
}
.about-me-section-cards-item-info-indicator {
    line-height: 159.49%;
    color: #ffffff;
}
.about-me-section-cards-item:hover {
    background-color: #FFB742;
    transition: all .4s;
}
.about-me-section-cards-item:hover .about-me-section-cards-item-info-number {
    color: black;
}
.about-me-section-cards-item:hover .about-me-section-cards-item-info-indicator {
    color: black;
}
.about-me-section-about {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about-me-section-about img {
    width: 43%;
    margin-right: 5%;
}
.about-me-section-about-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}
.about-me-section-about-info-title {
    padding: 6px 25px;
    box-sizing: border-box;
    width: 22%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #FFB742;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    margin-bottom: 2%;
}
.about-me-section-about-info-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 53%;
    color: white;
    margin-bottom: 8%;
}
.about-me-section-about-info-text {
    color: #D4D4D4;
    line-height: 125%;
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 12%;
}
/*works-section*/
.works-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
.works-section-title {
    padding: 6px 25px;
    box-sizing: border-box;
    width: 13%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #FFB742;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    margin-bottom: 2%;
    text-align: center;
    }
.works-section-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 53%;
    color: white;
    margin-bottom: 4%;
}
.works-section-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 4%;
}

.works-section-nav-item a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 125%;
    display: block;
    padding: 5px 20px;
}
.works-section-nav-item a:hover {
    color: #212529;
    background-color: #FFB742;
}
.works-section-dev {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 12%;
}
.works-section-dev img {
    margin-bottom: 2%;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10% 0;
    box-sizing: border-box;
    background-color: #1C1C1C;
    margin-bottom: 25%;
    font-family: 'Work Sans'; 
}
.footer-title {
    color: #F5FBF2;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 126%;
    padding-bottom: 4%;
}
.footer-list {
    background-color: #1C1C1C;
}
.footer-list-item {
    padding: 2% 0;
}
.footer-list-item a, .footer-newsletter-subtitle a{
    color: #7B7B7B;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 173%;
}
.footer-name {
    width: 20%;
}
.footer-name-title {
    color: #FFB742;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem; 
    line-height: 100%;
    margin-bottom: 7%;
}
.footer-name-subtitle {
    color: #D4D4D4;
    font-family: 'Work Sans';
    font-weight: 600;
    line-height: 173%;
}
.footer-links, .footer-media {
    width: 10%;
}
.footer-newsletter {
    width: 20%;
}
.footer-list-item a:active,
.footer-newsletter-subtitle a:active {
    color: #FFB742;
    font-size: 2rem;
}