html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 5% 0;
    background-color: #E5E5E5;
}
.main-container {
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding: 65px 43px;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

.title {
    color: #171717;
    font-weight: 700;
    font-size: 1.5rem; 
    line-height: 100%;
    margin-bottom: 7%;
}

.subtitle {
    color: #171717;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    
}
label {
    display: block;
    margin-bottom: 8px;
}
.label-inline {
    display: inline-block;
    color: #171717;
    font-weight: 400;
    font-size: 1.14rem;
    width: 93%;
}

input, select {
    width: 100%;
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 140%;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}
.input-check {
    width: 5%;
    margin: 0;
}
select {
    background-color: white;
}
span {
    color: red;
}
.line {
    border: 1px solid #D1D1D1;
    margin-bottom: 2.5%;
}
.note {
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 2%;
    font-size: 0.87rem;
}
.note>span {
    color: red;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2.5% 0;
}

.container div {
    margin: 0 0 21px;
    width: 47%;
}
#date, #date2 {
    background-image: url('../img/date.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
.check-purged {
    padding-top: 5%;
    box-sizing: border-box;
}
#apl-reg {
    color: #0050D8;
    background: url('../img/arrow-down-s-line.png') 99% 50% no-repeat;
    background-color: white;
    background-size: 5%;
}
#en-status, #parent {
    background: url('../img/arrow-down-s-line.png') 99% 50% no-repeat;
    background-color: white;
    background-size: 5%;
}
.arrow {
    background: url('../img/arrow-down-s-line.png') 99% 50% no-repeat;
    background-color: white;
    background-size: 5%;
}
.search {
    background: url('../img/search.png') 98% 50% no-repeat;
        background-color: white;
        background-size: 5%;
}
#owner {
    color: #0050D8; 
}
.button {
    width: 69px;
    height: 40px;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: #0050D8;
    margin-left: 93%;
}
