body {
    margin: 0;
}
.line {
    border: 5px solid #3E45E8;
    width: 402px;
}
/*Header*/
.header  {
    height: 104px;
}
.header-title {
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 48px;
    color: #3E45E8;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 25px;
    box-sizing: border-box;
}
.header-title span {
    color: #E8C23E;
}
/*Banner*/
.banner {
    height: 803px;
    background-image: url('../image/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 195px 80px;
    box-sizing: border-box;
}
.banner-text {
    font-family: Inika;
    font-size: 48px;
    font-weight: 700;
    color: white;
    background-image: url('../image/flag.png');
    background-repeat: no-repeat;
    width: 85%;
    padding-left: 40px;
    box-sizing: border-box;
}

/*Main-block*/
.main-block {
    margin: 72px 80px;
    font-family: Inika;
}

.main-block-title {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 25px;
}

.main-block-cards {
    margin-top: 33px;
}

.main-block-cards-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 480px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.main-block-cards-item img {
    width: 100%;
}

.main-block-cards-item-title {
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 10px;
    box-sizing: border-box; 
}

.main-block-cards-item-title a {
    text-decoration: none;
}

.main-block-cards-item-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;;
    padding-left: 10px;
}

.main-block-cards-item-center {
    margin: 0 4%;
}

/*Map-block*/
.map-block {
    text-align: center;
    margin: 74px 0 30px;
    font-family: Inika;
    font-weight: 700;
}

.map-block-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.map-block-line {
    margin: 0 auto;
}

.map-block-ukraine {
    margin: 41px 0;
    
}

.map-block-link {
    margin: 0 auto;
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
}

.map-block-link a  {
    color: white;
    font-size: 64px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 92px;
    box-sizing: border-box;
}

/*Footer*/
.footer-block {
    height: 320px;
    background-color: #2F4A4B;
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
}

.footer-block-title {
    font-family: 'M PLUS 1';
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8; 
    margin-bottom: 20px;
}

.footer-block-title span {
    color: #DFE31E;
}

.footer-block-mail,  .footer-block-tel {
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    
    margin-bottom: 20px;
    height: 49px;
    
}

.footer-block-mail a, .footer-block-tel a {
    text-decoration: none;
    color: #A89D9D;
}

.footer-block-social {}
    

.footer-block-social-list {
    margin: 0;
    display: inline-block;  
}

.footer-block-social-list-item {
    display: inline-block;
    
}