body {
    background-color: #E5E5E5;
    padding: 20px;
}
div {
    box-sizing: border-box;
}
.box {
    display: inline-block;
    height: 210px;
    width: 210px;
    margin: 0 50px 50px 0;
}

.square-line {
    background: url('../img/line.png'),linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 75% auto, 100% 100%;
    background-position: center, 0 0; 
}
.circle-center-line {
    width: 100%;
    height: 100%;
    background: url('../img/line.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-size: 75% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 85%, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.basic-square {
    background: linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
}
.basic-circle {
    background: white;
    padding: 10px;
    box-sizing: border-box;
}
.basic-circle-center {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    border-radius: 50%;
    margin: 0 auto;
}
.square-petcube {
    background: url('../img/petcube.png'),
    linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 70% auto, 100% 100%;
    background-position: 0 50%, 0 0;
}
.circle-center-petcube {
    width: 100%;
    height: 100%;
    background: url('../img/petcube.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-size: 70% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.square-figure {
    background: url('../img/figure.png'),
    linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 65% auto, 100% 100%;
    background-position: right bottom, 0 0;
}
.circle-center-figure {
    width: 100%;
    height: 100%;
    background: url('../img/figure.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-size: 65% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.square-diia {
    background: url('../img/diia\ white.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 65% auto, 100% 100%;
    background-position: center, 0 0;
}
.circle-center-diia {
    width: 100%;
    height: 100%;
    background: url('../img/diia\ white.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-size: 70% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.black_diia {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.black_diia div {
    height: 210px;
    width: 210px;
    display: inline-block;
}
.black_diia_bottom {
    background: url('../img/diia\ white.png'), url('../img/Flag.png'), black;
    background-size: 70% auto, 18% 13%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 50% 80%, 0 0;    
}
.black_diia_left {
    margin: 0 18px;
    background: url('../img/diia\ white.png'), url('../img/Flag.png'),black;
    background-size: 70% auto, 18% 13%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 7% 7%, 0 0;
}
.black_diia_left_right {
    background: url('../img/diia\ white.png'), url('../img/Flag.png'), url('../img/Flag.png'),black;
    background-size: 70% auto, 18% 13%, 18% 13%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 7% 7%, 93% 7%, 0 0;
}