:root {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
main {
    padding: 2% 0;
    box-sizing: border-box;
}
.main-container {
    width: 90%;
    margin: 0 auto;
}
/*Header*/
.header {
    border-bottom: 1px solid #100e0f;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.title {
    color: #100e0f;
    font-weight: 400;
    font-size: 3.7rem;
}
.subtitle {
    color: #787878;
    font-size: 1.25rem;
    font-weight: 400;
}
/*Section*/
.section-container {
    display: flex;
    flex-direction: row;
    border: 1px dashed #7b61ff;
    border-radius: 1%;
    padding: 1%;
}
/*nav-section-container*/
.nav-section-container {
    padding-right: 0.5rem;
    border-right: 1px solid #e5e5e5;
    margin-right: 2%;
    position: relative;
}
.nav-section-container-arrow {
    position: absolute;
    left: 85%;
    top: 1%;
}
.arrow-close {
    display: none;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    text-decoration: none;
}

.logo_img {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4a49cb;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
.search {
    margin: 50px 0 20px;
}
.serch_close {
    display: flex;
    justify-content: center;
    height: 40px;
    background: url('./../img/lupa.png'), #F5F5F5;
    background-repeat: no-repeat;
    background-position: 40%;
    width: 90%;
    border-radius: 8px;
}
.nav {
    margin: 0  0 280px 0;
}

.nav-link {
    display: flex;
    flex-direction: row;
    color: #7C7C7A;
    padding: 0.5rem 0.2rem;
}

.nav-link-icon {
    width: 30px;
    height: 30px;
    background-image: url('./../img/ListItem.png');
}

.nav-link-dashboard-icon {
    background-position: -15px -13px;
}

.nav-link-revenue-icon {
    background-position: -15px -80px;
}

.nav-link-notifications-icon {
    background-position: -15px -145px;
}

.nav-link-analytics-icon {
    background-position: -15px -212px;
}

.nav-link-inventory-icon {
    background-position: -15px -277px;
}

/*nav-section-container-bottom*/

.nav-section-container-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    color: #7C7C7A;
}

.logout-icon {
    width: 30px;
    height: 30px;
    background-image: url('./../img/logout.png');
    background-position: -13px -13px;
}
.nav-section-container-bottom-darkmood {
    display: flex;
    justify-content: end;
}
.switch_box {
    position: relative;
    background-color: #F5F5F5;
    width: 40px;
    height: 25px;
    border-radius: 100px;
}
.switch {
    display: none;
}
.switch_slider {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('./../img/light_check.png'), #fff;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 42% 26%;
    position: absolute;
    top: 14%;
    left: 10%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.switch_icon_dark {
    display: inline-block;
    width: 300%;
    position: relative;
    left: -390%;
}
.switch_icon_light {
    display: none;
}

.menu_open {
    display: none;
}
.nav-section-container:hover .menu_open {
    display: block;
}
.nav-section-container:hover .logo_info_name {
    color: #222133;
    font-weight: 700;
}
.nav-section-container:hover .logo_info_email {
    color: #7c7c7a;
    font-weight: 400;
    font-size: 0.8rem;
}
.nav-section-container:hover .logo_info {
    margin-left: 5%;
}
.nav-section-container:hover .nav-section-container-arrow {
    left: 95%;
}
.nav-section-container:hover .arrow-open {
    display: none;
}
.nav-section-container:hover .arrow-close {
    display: block;
}
.nav-section-container:hover .serch_close {
    display: none;
}
.nav-section-container:hover .search input {
    background: url('./../img/lupa.png'), #F5F5F5;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 12%;
    padding: 2% 2% 2% 25%;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: #7C7C7A;
}
.switch:checked+.switch_slider {
    left: 50%;
    background: url('./../img/dark_check.png'), #1E2020;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 42% 26%;
}

.switch_icon_dark, .switch_icon_light {
    opacity: 0;
}
.nav-section-container:hover .switch_icon_dark, .nav-section-container:hover .switch_icon_light{
    opacity: 1;
}
.switch:checked~.switch_icon_dark {
    display: none;
}

.switch:checked~.switch_icon_light {
    display: inline-block;
    width: 300%;
    position: relative;
    left: -390%;
}
